@font-face {
    font-family: "Custom";
    src: url('inyourfacejoffrey-webfont.woff2') format('woff2'),
         url('inyourfacejoffrey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,h1,h2 {font-family: 'Custom', Arial }
h5,p {font-family: Arial}
body, html {height: 100%}
.bgimg {
  background-image: url('xa1k7o34aaq51.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.btn {
  padding: 100px 100px;
  border: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
